/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

$stLink: #2342BF;
$stHeading: #173C5C;
$stBody: #465461;
$stGold: #ECA84B;
$stRed: #D72E2D;
$stOrange: #EDF7ED;
$stMint: #EDF7ED;

$fontNun: 'Nunito Sans', sans-serif; //in place of AvenirLTPro-Heavy
$fontOpen: 'Open Sans', sans-serif; //in place of AvenirLTPro-Roman

$tablet: "(min-width: 600px)";
$desktop: "(min-width: 1024px)";
$XLdesktop: "(min-width: 1360px)";



/* 2. Content ================================= */

	.page_wrapper{
		display: flex;
		border:2px solid;

		.column_two{
			display: none;
			@media#{$tablet}{
				display: block;
				width:60%;
				padding:2%;

				.body_headings{
					display: flex;

					.bdy_row1{
						width:75%;

						.setting{
			   
							font-family: $fontNun;
							margin: 10% auto;
							
							h1,h2,h3,h4,h5{
								color: $stHeading;
							}
						
						
							h1{
								font-size:64px;
								line-height:68px;
								letter-spacing:-2.2px;
							}
						
							h2{
								font-size:44px;
								line-height:48px;
								letter-spacing:-1px;
							}
						
							h3{
								font-size:36px;
								line-height:40px;
								letter-spacing:-0.75px;
							}
						
							.para_big{
								font-family: $fontOpen;
								font-size: 25px;
								line-height: 31px;
								letter-spacing:-0.3px;
							}

							.para_reg{
								font-family: $fontOpen;
								font-size: 19px;
								line-height: 27px;
							}

							.para_small{
								font-family: $fontOpen;
								font-size: 14px;
								line-height: 19px;
							}
				 
							.default{
							 color: $stBody;
							 font-size:1em;
							}
						 }
					}

					.bdy_row2{
						width:40%;
						.setting{
							font-family: $fontNun;
							margin: 27% auto;
							
							h4,h5,h6{
								color: $stHeading;
							}
						
						
							h4{
								font-size:30px;
								line-height:36px;
								letter-spacing:-0.5px;
							}
						
							h5{
								font-size:24px;
								line-height:30px;
							}
						
							h6{
								font-size:15px;
								line-height:23px;
								letter-spacing:2px;
							}
						
							.para{
								font-family: $fontOpen;
								font-size: 19px;
								line-height: 28px;
							}
				 
							.default{
							 color: $stBody;
							 font-size:1em;
							}
						 }
					}
				}
			}
		}

		.column_one{

			@media#{$tablet}{
				width:40%;
				padding:2%;
			}

				.font_info{
					display: none;
					@media#{$tablet}{
						display: block;
						border:2px solid;
						margin:5%;
					}
				}
			
				.color_swatches{
					display: none;
					@media#{$tablet}{
						display: flex;
						border: 2px solid;
						margin:5%;
				
						.swatches{
							width:60%;
							border: 2px solid;
						}
				
						.swatch_tints{
							width:40%;
						}
					}
				}
			
	
		
			.mobile_wrap{
				width: 100%;
				border:30px solid rgb(211, 211, 211);
				border-radius: 5%;
				margin:0 auto;
				padding:5%;
				//position: relative;
				@media#{$tablet}{
					margin:0%;
					
				}
		
				.mobile{
					//width: 100%;
					//position: absolute;
					//top:0;
					
					font-size:17px;
					text-decoration: underline;
					font-weight: bold;
					color:$stBody;
					font-family: $fontOpen;
					@media#{$tablet}{
						//display: none;
					}
				}
		
				.setting{
			   
				   font-family: $fontNun;
				   margin: 2% auto;
				   
				   h1,h2,h3,h4,h5{
					   color: $stHeading;
				   }
			   
			   
				   h1{
					   font-size:40px;
					   line-height:44px;
					   letter-spacing:-0.2px;
				   }
			   
				   h2{
					   font-size:30px;
					   line-height:36px;
					   letter-spacing:-0.2px;
				   }
			   
				   h3{
					   font-size:26px;
					   line-height:34px;
					   letter-spacing:0px;
				   }
			   
				   h4{
					   font-size:20px;
					   line-height:30px;
				   }
			   
				   h5{
					   font-size:20px;
					   line-height:30px;
				   }
			   
				   .para{
					   font-family: $fontOpen;
					   font-size: 19px;
					   line-height: 28px;
				   }
		
				   .default{
					color: $stBody;
					font-size:1em;
				   }
				}
			}
		}
	}
